.gallery{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pic{
    height: 280px;
    width: 280px;
    margin: 10px;
}
.nav-gallery{
    display: flex;
    justify-content: space-between;
    margin-inline: 10vw;
    margin-block: 5vh;
}
.links{
    list-style: none;
    display: flex;
   
    
}
.open-gallery-link{
    display: none;
}
.gallery-link{
    margin: 20px;
    font-size: 20px;
}
.logo{
    font-size: 30px;
    margin: 20px;
}
.none{
    display: none;
    visibility: hidden;
}
.editorcontainer{
    display:flex;
    flex-direction: row-reverse
}
.settings{
    display:flex;
    flex-direction: column;
    width:450px;
    height: 400px;
    gap:30px;
}
.canvaseditor{
    display: flex;
    width:450px;
    height: 400px;
    
}
canvas{
    height: 400px;
    width: 400px;
}
.myCanvasContainer{
    display: flex;
    width:450px;
    height: 400px;
}
.mymemes{  
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
}
.memetxteditor{
    width: 80%;
    
    font-size: 45px;
    border-radius: 20px;
}
.area2{
    display: flex;
justify-content: center;
gap: 30px;
}
.area2 > *{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: none;
outline: none;
}
.area3{
    display: flex;
}
.area3 > {

}

@media screen and (max-width:700px) {
    
    .open-gallery-link {
        display: block;
    }
    .links {
        /*position: fixed;
        top: 30px;
        left: 0;
        width: 100%;
        background-color: rgb(255 255 255 / 90%);*/
        transform: translateX(200%);
        transition: transform 0.6s, box-shadow 0.6s;
    }

    body.menu-open .links {
        box-shadow: -6px 0px 20px rgb(0 0 0 / 25%);
        transform: translateX(0);
    }

    .links{
        flex-direction: column;
    }

    .main-nav .main-nav-list>li {
        border-bottom: 1px solid #ccc;
    }

    .main-nav .main-nav-list a {
        display: flex;
        justify-content: center;
        padding: 8px 10px;
        color: var(--primary-2);
    }
}